<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

<f:form action="search" method="get" class="search-form">
    <label class="search-label" for="hhextaz-search-input">
        <f:translate key="LLL:EXT:hh_ext_az/Resources/Private/Language/locallang.xlf:search.label" />
    </label>
    <div class="search-row">
        <f:form.textfield
            name="q"
            value="{q}"
            id="hhextaz-search-input"
            class="search-input"
            data="{'hhextaz-input': '1'}"
            additionalAttributes="{type: 'search', autocomplete: 'off', placeholder: '{f:translate(key: \'LLL:EXT:hh_ext_az/Resources/Private/Language/locallang.xlf:search.placeholder\')}'}"
        />
        <button type="submit" class="search-submit">{f:translate(key: 'LLL:EXT:hh_ext_az/Resources/Private/Language/locallang.xlf:search.submit')}</button>
    </div>
</f:form>

</html>
